<div id="about" class="section wow fadeIn">
  <div class="container">
    <div id="doctor" class="parallax section db" data-stellar-background-ratio="1.4" style="background:#fff;">
      <div class="container">
        <div class="heading">
          <span class="icon-logo"><img src="images/LogoEPatDoc.PNG" alt="#"></span>
          <h2>PATIENT</h2>
          <div id="service" class="services wow fadeIn">
            <div class="row">
              <div class="center">
                <div class="col-lg-14 col-md-14 col-sm-16 col-xs-22">
                  <div class="appointment-form">
                    <div class="form">
                      <form action="index.html">
                        <fieldset>
                          <div class="adddoc"></div>
                          <div>

                            <form>
                             <nav>
                                  <button routerLink="/patprescription" routerLinkActive='active'>Prescribed by-Dr.Wen (Dermatologist)<br>
                                    Prescribed on-12/01/2021<br></button>
                               </nav>
                               <br>
                              <button>Prescribed by-Dr.Ben (Cardiologist)<br>
                              Prescribed on-4/12/2020<br></button><br><br>
                              <button>Prescribed by-Dr.Ben (Cardiologist)<br>
                              Prescribed on-12/11/2020<br></button><br><br>

                              <!--button>
                                  10191 James <br> <br>
                                </button><br><br>
                                <button>
                                  10181 Ben <br> <br>  
                                </button> <br><br>
                                <button>
                                  10166  Mark  <br> <br>
                                </button><br><br>-->
                            </form>
                          </div>
                        </fieldset>
                      </form>
                    </div>

                  <!--/div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
