<div id="about" class="section wow fadeIn">
    <div class="container">
        <div id="patient" class="parallax section db" data-stellar-background-ratio="1.4" style="background:#fff;"  >
            <div class="container">
                 <div class="heading">
                           <h2></h2>
                           <h2></h2>
                           <span class="icon-logo"><img src="images/LogoEPatDoc.PNG" alt="#"></span>
                        <h2>PRESCRIPTIONS</h2>
                        <div id="service" class="services wow fadeIn">
                           <!-- <div class="container">  -->
                           <!-- <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"> -->
                           
                              <div class="row">
                               
                                   <div class="center">
                                    <div class="col-lg-14 col-md-14 col-sm-16 col-xs-22">
                                       <div class="appointment-form">
                                           <!-- <h3><span></span> DOCTOR LOGIN</h3> -->
                                           <div class="form">
                                               <form action="index.html">
                                                   <fieldset>
                                                     
												   <!--div class="adddoc"><h1>PRESCRIPTION</h1></div>-->
                                                    <div>
                                                        <form>
                                                           PATIENT NAME :<label>James</label><br>
                                                           PATIENT ID   :<label>P101</label><br>
                                                           PRESCRIBED BY:<label>Dr.Wen(Dermatologist)</label><br>
														   PRESCRIBED ON:<label>12/01/2021</label><br> 
														   <table border="4">
														     <tr>
															  <th>Prescription</th>
															  <th>Dosage</th>
															  <th>Valid Till</th>
															 </tr>
															 <tr>
															   <td><label>Medicine</label></td>
															   <td><label>2 times</label></td>
															   <td><label>24/01/2021</label></td>
															 </tr>
															 <tr>
															   <td><label>Medicine</label></td>
															   <td><label>3 times</label></td>
															   <td><label>18/01/2021</label></td>
															 </tr>
															 <tr>
															   <td><label>Medicine</label></td>
															   <td><label>1time</label></td>
															   <td><label>5/02/2021</label></td>
															 </tr>
														   </table>
                                                        </form>
                                                    </div>
                                                   </fieldset>
                                               </form>
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           <!-- </div> -->          
                        </div>
                 </div>
               </div>
        </div>
   </div>
 </div>
