<div id="about" class="section wow fadeIn">
    <div class="container">
        <div id="patient" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"  >
            <div class="container">
                 <div class="heading">
                           <h2></h2>
                           <h2></h2>
                        <span class="icon-logo"><img src="assets/images/LogoEPatDoc.png" alt="#"/></span>
                        <h2>DOCTOR</h2>
                        <div id="service" class="services wow fadeIn">
                           <!-- <div class="container">  -->
                           <!-- <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"> -->
                           
                              <div class="row">
                               
                                   <div class="center">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                       <div class="appointment-form">
                                           <!-- <h3><span></span> DOCTOR LOGIN</h3> -->
                                           <div class="form">
                                               <form action="index.html">
                                                   <fieldset>
                                                 <div class="center">    
                                                 <div class="serch-bar">
                                                   <div id="custom-search-input">
                                                      <div class="input-group col-md-12">
                                                        
                                                         <input type="text" class="form-control input-lg" placeholder="Search Patient" />

                                                      </div>
                                                      </div>
                                                 </div>
                                                </div>
                                                

                                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                         <div class="row">
                                                            <div class="form-group">
                                                                <nav>
                                                                  <button routerLink="/docprescrib" routerLinkActive='active'>Search</button>
                                                                </nav>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                         <div class="form-group">
                                                             <!-- <div class="bottom"><button type="button">View My Profile</button></div> -->
                                                             <nav>
                                                                <button routerLink="/viewdocprof" routerLinkActive='active'>View My Profile</button>
                                                             </nav>
                                                            </div>
                                                       </div>
                                                       </div>
                                                   </fieldset>
                                               </form>
                                             </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           <!-- </div> -->
            
            
            
                        </div>
                   </div>
                           
               </div>
            </div>
   </div>
 </div>
