<div id="about" class="section wow fadeIn">
    <div class="container">
      <div id="doctor" class="parallax section db" data-stellar-background-ratio="1.4" style="background:#fff;">
        <div class="container">
          <div class="heading">
            <span class="icon-logo"><img src="images/LogoEPatDoc.PNG" alt="#"></span>
            <h2>PATIENT</h2>
            <div id="service" class="services wow fadeIn">
              <div class="row">
                <div class="center">
                  <div class="col-lg-14 col-md-14 col-sm-16 col-xs-22">
                    <div class="appointment-form">
                      <div class="form">
                        <form action="index.html">
                          <fieldset>
                            <div class="adddoc"></div>
                            <div>
  
                              <form>
                               <label>Patient ID:</label>
                               <input type='text'><br>
                               <label>Patient Name:</label>
                               <input type='text'><br>
                               <tr>
                               <td><label for="aboutus">Prescription :</label></td>
                               <td valign="middle" align="center"><textarea></textarea></td>
                               </tr>
                               <label>Drug :</label>
                               <input type='text'><br>
                               <label>Frequency :</label>
                               <input type='text'><br>
                               <label>Duration:</label>
                               <input type='text'><br>
                               <label>Instruction:</label>
                               <input type='text'><br>
                               <div class="bottom"><button type="button">Submit</button></div>
                              </form>
                            </div>
                          </fieldset>
                        </form>
                      </div>
  
                    <!--/div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
