<div id="about" class="section wow fadeIn">
    <div class="container">
        <div id="patient" class="parallax section db" data-stellar-background-ratio="1.4" style="background:#fff;"  >
            <div class="container">
                 <div class="heading">
                           <h2></h2>
                           <h2></h2>
                        <span class="icon-logo"><img src="images\LogoEPatDoc.PNG" alt="#"/></span>
                        <h2>DOCTOR</h2>
                        <div id="service" class="services wow fadeIn">
                           <!-- <div class="container">  -->
                           <!-- <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"> -->
                           
                              <div class="row">
                               
                                   <div class="center">
                                    <div class="col-lg-14 col-md-14 col-sm-16 col-xs-22">
                                       <div class="appointment-form">
                                           <!-- <h3><span></span> DOCTOR LOGIN</h3> -->
                                           <div class="form">
                                               <form action="index.html">
                                                   <fieldset>
                                                       <!--div class="center">    
                                                 <div class="serch-bar">
                                                   <div id="custom-search-input">
                                                      <div class="input-group col-md-22">
                                                      </div>
                                                    </div>
                                                 </div>
                                                </div>-->
                                                
                                                       <!--div class="col-lg-22 col-md-22 col-sm-22 col-xs-22">
                                                         <div class="row">
                                                            <div class="form-group">
                                                               
                                                                  
 
                                                                <div class="center"><button type="button">Search</button></div> 
                                                            </div>
                                                        </div>-->
                                                        
                                                            <div class="adddoc"><h1>Change Password</h1></div>
                                                              <div class="row">
                                                                <!--div class="form-group">
                                                              
                                                                </div>-->
                                                           
                                                           
                                                             <form>
                                                                Previous Password : <input type="password"> <br> <br> 
                                                                New Password :      <input type="password"><br><br> 
                                                                Confirm Password :  <input type="password"><br><br> 
                                                               
                                                                <div class="row">
                                                                    <div class="form-group">
                                                                      <button type="button">Change</button> 
																    </div>
                                                                </div>
                                                                
                                                            </form>
                                                                 
                                                       
                                                               <!-- <div class="row">
                                                               <div class="form-group">
                                                               <div class="bottom"><button type="button">View My Profile</button></div>
                                                               </div>
                                                               </div> -->
                                                             </div>
                                                   </fieldset>
                                               </form>
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           <!-- </div> -->
            
            
            
                        </div>
                 </div>
                           
               </div>
        </div>
   </div>
</div>

