<div id="about" class="section wow fadeIn">
    <div class="container">
      <div id="patient" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;">
        <div class="container">
          <div class="heading">
            <span class="icon-logo"><img src="images/LogoEPatDoc.PNG" alt="#"></span>
            <h2>DOCTOR</h2>
            <div id="service" class="services wow fadeIn">
              <!-- <div class="container">  -->
              <!-- <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"> -->
              <div class="row">
                <div class="center">
                  <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8">
                    <div class="appointment-form">
                      <!-- <h3><span></span> DOCTOR LOGIN</h3> -->
                      <div class="form">
                        <form action="index.html">
                          <fieldset>
                            <!-- <div class="center">    
                                                   <div class="serch-bar">
                                                     <div id="custom-search-input">
                                                        <div class="input-group col-md-12">
                                                          
                                                           <input type="text" class="form-control input-lg" placeholder="Search Patient" />
  
                                                        </div>
                                                        </div>
                                                   </div> -->
                          </fieldset>
                        </form>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- <div class="row">
                                                              <div class="form-group">
                                                                  <div class="center"><button type="button">Search</button></div>
                                                              </div>
                                                          </div> -->
                        <div class="form-group">
                          <h2 align="center">VIEW MY PROFILE</h2>
                          <form action="Welcome.html" method="post">
                            <br>
                            <br>
                            <div class="row">
                              <div class="row">
                                <div class="form-group">
                                  <button routerLink="/docchange" routerLinkActive='active'>Change Password</button>
                                  <br>
                                </div>
                                <form>
                                  <label>Doctor ID:</label> <label>101</label><br>
                                  <label>User ID:</label> <label>141</label><br>
                                  <label>Doctor Name:</label> <label>hazel_g</label><br>
                                  <label>Sex :</label> <input type="radio" name="r">M <input type="radio" name="r">F<br>
                                  <label for="Date of Birth">Date of Birth:</label> <input type="date" id="Date of birth" name="date of birth"><br>
                                  <label>Age:</label> <label>22 yrs</label><br>
                                  <label for="Date of Joining">Date of Joining:</label> <input type="date" id="Date of Joining" name="date of Joining"><br>
                                  <label>Blood Group :</label> <select multiple size="1">
                                    <option>
                                      A+
                                    </option>
                                    <option>
                                      B+
                                    </option>
                                    <option>
                                      O+
                                    </option>
                                    <option>
                                      A-
                                    </option>
                                    <option>
                                      B-
                                    </option>
                                    <option>
                                      O-
                                    </option>
                                  </select><br>
                                  <label>E-mail Address:</label> <label>dr01@gmail.com</label><br>
                                  <label>Contact No:</label> <label>98745</label><br>
                                </form>
                              </div>
                            </div><br>
                            <label for="Qualification">Qualification:</label><input type="text" id="Qualification" name="Qualification"><br>
                            <label for="Post">Post:</label><input type="text" id="Post" name="Post"><br>
                            <label for="Department">Department:</label><input type="text" id="Department" name="Department"><br>
                            <div class="row">
                              <div class="form-group"></div>
                            </div>
                            <table>
                              <tbody>
                                <!--<label>ADD DOCTOR</label><br>-->
                                <!-- <div class="bottom"><button type="button">View Prescription</button></div>-->
                                <tr>
                                  <td><label for="aboutus">Address :</label></td>
                                  <td valign="middle" align="center">
                                  <textarea></textarea></td>
                                </tr><!--<label>Next Visit:02/12/2020</label>-->
                                <!-- </div> -->
                              </tbody>
                            </table>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
