<div id="about" class="section wow fadeIn">
    <div class="container">
       <div class="heading">
           <h2>
          </h2>
          <h2>
          </h2>
          <span class="icon-logo"><img src="assets\images\LogoEPatDoc.png" alt="#"></span>
          <h2>WHAT DO WE DO???</h2>
       </div>
       <!-- end title -->
       <div class="row">
          <div class="col-md-6">
             <div class="message-box">
                <p class="lead">Our system can enhance an overall medication management process through clinical
                   decision support systems that can perform checks against the patient’s current medications for
                   diagnoses, drug allergy, age, body weight, and correct dosing. </p>
                <p>This technology has many options that help doctors like the option of providing complete
                   prescription history and other medical conditions of the patients at a click</p>
             </div>
             <!-- end messagebox -->
          </div>
          <!-- end col -->
          <div class="col-md-6">
             <div class="post-media wow fadeIn">
                <img src="assets/images/about_03.jpg" alt="" class="img-responsive">
             </div>
             <!-- end media -->
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
       <!-- end container -->
    </div>