<div id="about" class="section wow fadeIn">
    <div class="container">
        <div id="patient" class="parallax section db" data-stellar-background-ratio="1.4" style="background:#fff;"  >
            <div class="container">
                 <div class="heading">
                           <h2></h2>
                           <h2></h2>
                        <span class="icon-logo"><img src="images\LogoEPatDoc.PNG" alt="#"/></span>
                        <h2>PATIENT</h2>
                        <div id="service" class="services wow fadeIn">
                           <!-- <div class="container">  -->
                           <!-- <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"> -->
                           
                              <div class="row">
                                  
                               
                                   <div class="center">
                                    <div class="col-lg-14 col-md-14 col-sm-16 col-xs-22">
                                       <div class="appointment-form">
                                           <!-- <h3><span></span> DOCTOR LOGIN</h3> -->
                                           <div class="form">
                                               <form action="index.html">
                                                   <fieldset>
                                                    <nav>
                                                     <button routerLink="/addprescrib" routerLinkActive='active'>Add Prescription<br></button>
                                                     </nav>
                                                    <br>
                                                    <br>
                                                    <br>
												   <div class="adddoc"><h1>PREVIOUS RECORDS</h1></div>
                                                    <div>
                                                        <form> PATIENT NAME :<label>James</label><br>
                                                           PATIENT ID   :<label>P101</label><br>
                                                           PRESCRIBED BY:<label>Dr.Ben</label><br>
							                               DEPARTMENT:<label>Cardiology</label><br>
							                               LAST VISIT:<label>4/12/2020</label><br> 
                                                           <br>
                                                           <br>
                                                          <table border="4">
														     <tr>
                                                                                                                          
															  <th>Form No</th>
                                                              <th>Recommendation</th>
															  <th>Date Prescribed</th>
															  <th>Valid Till</th>
															 </tr>
                                                               <tr>
															   <td><button> 1065 </button></td>
                                                               <td><label>Lipid Profile Test</label></td>
															   <td><label>12/01/2021</label></td>
															   <td><label>24/01/2021</label></td>
															 </tr>
                                                              <tr>
															   <td><button> 1060 </button></td>
                                                               <td><label>CBC test</label></td>
															   <td><label>4/12/2020</label></td>
															   <td><label>10/01/2021</label></td>
															 </tr>
                                                              <tr>
															   <td><button> 1050 </button></td>
                                                               <td><label>ECG test</label></td>
															   <td><label>12/11/2020</label></td>
															   <td><label>20/11/2020</label></td>
													       	 </tr>
                                                              <tr>
															   <td><button> 1041 </button></td>
                                                               <td><label>Creatinine test</label></td>
															   <td><label>01/10/2020</label></td>
															   <td><label>10/10/2020</label></td>
															 </tr>
                          
                                                           </table>
                                                           <br>
                                                           <br>
                                                           <br>
                                                                  
                                                        </form>
                                                    </div>
                                                   </fieldset>
                                               </form>
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           <!-- </div> -->          
                        </div>
                 </div>
               </div>
        </div>
   </div>
 </div>
