<header>
   <div class="header-top wow fadeIn">
      <div class="container">
         <a class="navbar-brand" href="index.html"><img src="../../assets/images/LogoEPat.png" alt="image"></a>
         <div class="right-header">
            <div class="header-info">
               <div class="info-inner">
                  <span class="icontop"><img src="../../assets/images/phone-icon.png" alt="#"></span>
                  <span class="iconcont"><a href="tel:+918001234563">+918001234563</a></span>
               </div>
               <div class="info-inner">
                  <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                  <span class="iconcont"><a data-scroll
                        href="mailto:info@yoursite.com">info@epresciption.com</a></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header-bottom wow fadeIn">
      <div class="container">
         <nav class="main-menu">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li><a class="active" href="index.html">HOME</a></li>
                  <li class="nav-item"><a routerLink="/intro" routerLinkActive="active" class="nav-link" data-scroll>ABOUT US</a></li>
                  <li class="nav-item"><a routerLink="/patient" routerLinkActive="active" class="nav-link" data-scroll>PATIENT</a></li>
                  <li class="nav-item"><a routerLink="/doctor" routerLinkActive="active" class="nav-link" data-scroll>DOCTOR</a></li>
                  <li class="nav-item"><a routerLink="/admin" routerLinkActive="active" class="nav-link" data-scroll>ADMIN</a></li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
</header>