<div id="about" class="section wow fadeIn">
    <div class="container">
      <div id="patient" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;">
        <div class="container">
          <div class="heading">
            <span class="icon-logo"><img src="images/LogoEPatDoc.PNG" alt="#"></span>
            <h2>PATIENT</h2>
            <div id="service" class="services wow fadeIn">
              <!-- <div class="container">  -->
              <!-- <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"> -->
              <div class="row">
                <div class="center">
                  <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8">
                    <div class="appointment-form">
                      <!-- <h3><span></span> DOCTOR LOGIN</h3> -->
                      <div class="form">
                        <form action="index.html">
                          <fieldset>
                            <!-- <div class="center">    
                                                   <div class="serch-bar">
                                                     <div id="custom-search-input">
                                                        <div class="input-group col-md-12">
                                                          
                                                           <input type="text" class="form-control input-lg" placeholder="Search Patient" />
  
                                                        </div>
                                                        </div>
                                                   </div> -->
                          </fieldset>
                        </form>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- <div class="row">
                                                              <div class="form-group">
                                                                  <div class="center"><button type="button">Search</button></div>
                                                              </div>
                                                          </div> -->
                        <div class="form-group">
                          <h2 align="center">VIEW MY PROFILE</h2>
                          <form action="Welcome.html" method="post">
                            <br>
                            <br>
                            <div class="row">
                              <form>
                                <button routerLink="/patchange" routerLinkActive='active'>Change Password</button>
                                <br>
                                <label>User ID / PID:</label> <label>101</label><br>
                                <label>User Name:</label> <label>hazel_g</label><br>
                                <label>First Name:</label> <label>Hazel</label><br>
                                <label>Last Name:</label> <label>Grace</label><br>
                                <label for="Date of Birth">Date of Birthday:</label> <input size="4" type="date" id="Date of birth" name="date of birth"><br>
                                <label>Age:</label> <label>22 yrs</label><br>
                                <!--<label>Next Visit:02/12/2020</label>-->
                                <input type="radio" name="gender" value="male"> Male <input type="radio" name="gender" value="female" size="3"> Female<br>
                                <label>Blood Group :</label> <select multiple size="1"><br>
                                  <option>
                                    A+
                                  </option>
                                  <option>
                                    B+
                                  </option>
                                  <option>
                                    O+
                                  </option>
                                  <option>
                                    A-
                                  </option>
                                  <option>
                                    B-
                                  </option>
                                  <option>
                                    O-
                                  </option>
                                </select>
                              </form>
                            </div>
                            <div>
                              
                              <form>
                                <label>Weight :</label> <input type='text'><br>
                                <label>Height :</label> <input type='text'><br>
                                <label for="First Consultation">First Consultation:</label> <input type="date" id="First Consultation" name="First Consultation"><br>
                                <label>Contact No:</label> <input type='text'><br>
                                <label>E-mail Address:</label> <input type='text'><br>
                              </form>
                              <tr>
                                <td><label for="aboutus">Address :</label></td>
                                <td valign="middle" align="center">
                                <textarea></textarea></td>
                              </tr>
                            </div>
                    
                            <div class="row">
                              <div class="form-group">
                                <div class="bottom">
                                  <button type="button">Done!</button>
                                </div>
                              </div>
                            </div>
                            <table>
                              <tbody>
                                <!--<label>ADD PATIENT</label><br>-->
                                <!-- <div class="bottom"><button type="button">View Prescription</button></div>-->
                                <!-- </div> -->
                              </tbody>
                            </table>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
