<div id="about" class="section wow fadeIn">
    <div class="container">
      <div id="patient" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;">
        <div class="container">
          <div class="heading">
            <span class="icon-logo"><img src="images/LogoEPatDoc.PNG" alt="#"></span>
            <h2>ADMIN</h2>
            <div id="service" class="services wow fadeIn">
              <!-- <div class="container">  -->
              <!-- <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"> -->
              <div class="row">
                <div class="center">
                  <div class="col-lg-6 col-md-4 col-sm-8 col-xs-8">
                    <div class="appointment-form">
                      <!-- <h3><span></span> DOCTOR LOGIN</h3> -->
                      <div class="form">
                        <form action="index.html">
                          <fieldset>
                            <!-- <div class="center">    
                                                   <div class="serch-bar">
                                                     <div id="custom-search-input">
                                                        <div class="input-group col-md-12">
                                                          
                                                           <input type="text" class="form-control input-lg" placeholder="Search Patient" />
  
                                                        </div>
                                                        </div>
                                                   </div> -->
                            <!-- </div> -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <!-- <div class="row">
                                                              <div class="form-group">
                                                                  <div class="center"><button type="button">Search</button></div>
                                                              </div>
                                                          </div> -->
                              <div class="form-group">
                                <h2 align="center">ADD PATIENT</h2><!-- <form action="Welcome.html" method="post">
                                                              
                                                              
                                                              <!==<label>ADD PATIENT</label><br>-->
                                <!-- <label></label><br>
                                                              <label></label><br> -->
                                <!-- <div class="bottom"><button type="button">View Prescription</button></div>-->
                                <!-- </form>  -->
                              </div>
                            </div>
                            <div class="row">
                              <form>
                                <label>User ID / PID:</label> <input type='text'><br>
                                <label>User Name:</label> <input type='text'><br>
                                <label>First Name:</label> <input type='text'><br>
                                <label>Last Name:</label> <input type='text'><br>
                                <label for="Date of Birth">Date of Birthday:</label> <input type="date" id="Date of birth" name="date of birth"><br>
                                <label>Age:</label> <input type='text'><br>
                                <!--<label>Next Visit:02/12/2020</label>-->
                                 <label>Sex :</label> <input type="radio" name="r">M <input type="radio" name="r">F<br>
                                <label>Blood Group :</label> <select multiple size="1">
                                  <option>
                                    A+
                                  </option>
                                  <option>
                                    B+
                                  </option>
                                  <option>
                                    O+
                                  </option>
                                  <option>
                                    A-
                                  </option>
                                  <option>
                                    B-
                                  </option>
                                  <option>
                                    O-
                                  </option>
                                </select>
                              </form>
                            </div>
                            <div>
                              <form>
                                <label>Weight :</label> <input type='text'><br>
                                <label>Height :</label> <input type='text'><br>
                                <label for="First Consultation">First Consultation:</label> <input type="date" id="First Consultation" name="First Consultation"><br>
                                <label>Contact No:</label> <input type='text'><br>
                                <label>E-mail Address:</label> <input type='text'><br>
                                <table>
                                    <tr>
                                      <td><label for="aboutus">Address :</label></td>
                                      <td valign="middle" align="center">
                                      <textarea></textarea></td>
                                    </tr><!-- </div> -->
                                </table>
                                <div class="row">
                                  <div class="form-group">
                                    <div class="bottom">
                                      <button type="button">Submit</button>
                                    </div>
                                  </div>
                                </div>
                               
                              </form>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
