<div id="about" class="section wow fadeIn">
    <div class="container">
      <div id="doctor" class="parallax section db" data-stellar-background-ratio="1.4" style="background:#fff;">
        <div class="container">
          <div class="heading">
            <h2></h2>
            <h2></h2>
            <span class="icon-logo"><img src="images\LogoEPatDoc.PNG" alt="#" /></span>
            <h2>DOCTOR</h2>
            <div id="service" class="services wow fadeIn">
             <div class="row">
              <div class="center">
                <div class="col-lg-14 col-md-14 col-sm-16 col-xs-22">
                  <div class="appointment-form">
                    <div class="form">
                      <form action="index.html">
                        <fieldset>
                          <div class="adddoc"></div>
                            <div>
                              <form>
                                <nav>
                                  <button routerLink="/docprescription" routerLinkActive='active'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10181&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;James&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> <br></button>
                               </nav>
                               <br>
                                <button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10181&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ben&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> <br>  
                                </button> <br><br>
                                <button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10166&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mark&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <br> <br>
                                </button><br><br>
							  </form>
							</div>
                          <!--/div>	-->						
                        </fieldset>
                      </form>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>